.bottom-banner{
  position: fixed;
  width: 100vw;
  height: 40px;
  background-color: var(--color-darkpink);
  bottom: 0;
  border-radius: 12px 12px 0 0;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-button{
  background-color: transparent;
  border: none;
  color: var(--color-white);
}
.about-title{
  margin-bottom: 24px;
}
.about-title h2{
  font-weight: 700;
  text-align: center;
}
.exclusive-videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.benefits{
  background-repeat: no-repeat;
}
.benefits-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#benefits-title{
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .about{
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 0 20px;
  }
  .exclusive-videos{
    grid-template-columns: 1fr ;
    gap: 24px;
  }
  .benefits{
    padding: 75px 20px;
  }
  .benefits-container{
    grid-template-columns: 1fr;
    gap: 24px;
  }
}