.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1420px;
  overflow: hidden;
  margin-top: 24px;
}
.carousel{
  display: flex;
}
.slideout-left{
  animation: slideout-left 350ms ease-in-out forwards;
}
.slidein-left{
  animation: slidein-left 350ms ease-in-out forwards;
}
.slide-left{
  animation: slide-left 350ms ease-in-out forwards;
}
@keyframes slideout-left{
  from{
    transform: scale(1) translateX(0);
    filter: blur(0);
  }
  to{
    transform: scale(0.8) translateX(calc(-300px - 24%));
    filter: blur(3px);
  }
}
@keyframes slidein-left{
  from{
    transform: scale(0.8) translateX(0);
    filter: blur(3px);
  }
  to{
    transform: scale(1) translateX(calc(-100%));
    filter: blur(0px);
  }
}
@keyframes slide-left{
  from{
    transform: scale(0.8) translateX(0);
  }
  to{
    transform: scale(0.8) translateX(calc(-125%));
  }
} 

@keyframes slideout-left-m {
  from{
    transform: scale(1) translateX(0);
    filter: blur(0);
  }
  to{
    transform: scale(0.8) translateX(calc(-70vw - 24%));
    filter: blur(3px);
  }
}
@keyframes slidein-left-m {
  from{
    transform: scale(0.8) translateX(0);
    filter: blur(3px);
  }
  to{
    transform: scale(1) translateX(calc(-100%));
    filter: blur(0px);
  }
}
@keyframes slide-left-m{
  from{
    transform: scale(0.8) translateX(0);
  }
  to{
    transform: scale(0.8) translateX(calc(-125%));
  }
} 

@media only screen and (max-width: 768px) {
  .carousel-item{
    min-width: 70vw;
    height: auto;
    
    border-radius: 20px;
    overflow: hidden;
  }
  .slideout-left{
    animation: slideout-left-m 350ms ease-in-out forwards;
  }
  .slidein-left{
    animation: slidein-left-m 350ms ease-in-out forwards;
  }
  .slide-left{
    animation: slide-left-m 350ms ease-in-out forwards;
  }
}
