#footer{
  background-color: var(--color-darkpink);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.footer{
  width: 100%;
  max-width: 1420px;
  padding: 30px 8%;
  display:flex;
  justify-content: space-between;
}
.footer-l h5{
  color: var(--color-white);
}
.footer-r{
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.footer-l{
  width: 30%;
}
.footer-text{
  text-decoration: none;
  color: var(--color-white);
}
@media only screen and (max-width: 768px) {
  .footer{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
  }
  .footer-l{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-r{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-m{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}